<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Show info</title>
</head>

<body>
    <h1>Resume:</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">

            {% for i in resume %}
                <tr class='success'>
                <td>Name: {{ i.name }}<br></td>
                <td>Surename: {{ i.surename }}<br></td>
                <td>Midlename: {{ i.midlename }}<br></td>
                <td>Citizenship: {{i.citizenship }}<br></td>
                <td>Nationality: {{ i.nationality }}<br></td>
                <td>Wish Post: {{ i.wish_post }}<br></td>
                <td>About of: {{ i.about_yourself }}<br></td>
                <td>Accounts: {{ i.accounts }}<br></td>
                <td>Contacts: {{ i.contacts }}<br></td>
                <td>Email: {{ i.email }}<br></td>
                </tr>
            {% endfor %}
                    
            </div>
        </div>
    </div>

    <p><a href="http://www.Mojito.heroku">This resume was created by Mojito</a></p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>